{% extends 'AppCoder/padre.html' %}

{% block contenido %}
<div class="row">  
    <div class="col-8 mx-auto mt-5 mb-5">      
      {% if productos.count > 0 %}
        <table class="table">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th>
                <th scope="col">Tipo</th>
                <th scope="col">Catalogo</th>
                <th scope="col">Accesorio</th>
                
              </tr>
            </thead>
            <tbody>
                {% for pro in productos  %}
              <tr>
                
                <td>{{pro.id}}</td>
                <td>{{pro.nombre}}</td>
                <td>{{pro.tipo}}</td>
                <td>{{pro.catalogo_origen}}</td>
                <td>{{pro.accesorio_origen}}</td>
                
              </tr>
              {% endfor %}
            
            </tbody>
          </table>      
      {% endif %} 
    </div>
  </div>
  
  {% endblock %}


