{% extends 'AppCoder/padre.html' %}

{% block contenido %}
<div class="row">  
    <div class="col-8 mx-auto mt-5 mb-5">      
      {% if catalogos.count > 0 %}
        <table class="table">
            <tr>
                <th scope="col">id</th>
                <th scope="col">Nombre</th> 
              </tr>
            </thead>
            <tbody>
                {% for cata in catalogos  %}
              <tr>
                
                <td>{{cata.id}}</td>
                <td>{{cata.nombre}}</td>
                
                
              </tr>
              {% endfor %}
            
            </tbody>
          </table>      
      {% endif %} 
    </div>
  </div>
  
  {% endblock %}


